@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    scroll-behavior:smooth;
}
body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: black!important;
    color: #E5F4F4!important;

}
header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem;
}
.w{
    text-decoration: none;
    color: #E5F4F4;
    padding: 1rem;
    padding-bottom: 0.4rem;
    border-bottom: black 3px solid;
    transition: 0.5s ease;
}
.w:hover{
    border-bottom: #E5F4F4 3px solid;
}

header nav button{
    border-radius: 5px;
    border: none;
    color: #E5F4F4;
    background-color: #00C6CF;
    padding: 0.4rem;
}
header nav button strong{
    text-transform: uppercase;
}
.span{
    position: absolute;
    top: 1%;
    left: 90%;
    transform: translatex(-10%);
    font-size:xx-small;
    color: #121212;
    padding: 0.1rem;
    background-color: #F9F871;
    border-radius: 5px;
}

a{
    text-decoration: none;
}
.title{
    color: rgb(211, 206, 206);
    transition: 0.5s;
    cursor: pointer;
}
.title:hover{
    color: #E5F4F4;
}
/*article*/
.article{
    text-align: center;
    padding-bottom: 5rem;
}
.a-t span{
    font-weight: 100;
    font-size:1rem;
}
.gOS-title{
    font-size:xx-large;
    font-weight: 300;
   
}
.gOS{
    background-image: linear-gradient(60deg, #00BF8F, #001510);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.p{
    padding: 7rem 0rem;
}

.imgimport{
    border: #121212 3px solid;
    border-radius: 15px;
}
.imgimport img{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.img{
    filter: drop-shadow(0px 0px 4px #e5f4e5);
}

.btn{
    display: block;
    margin: 0 auto;
    background-color: #00C6CF;
    color: #E5F4F4;
    border: none;
    border-radius: 5px;
    padding:0.2rem;
}

.container {
    display: none;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #E5F4F4;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }


  @media (max-width:700px) {
    .container{
        display: inline-block;
        background-color: black;
        border-radius: 5px;
        padding: 0.4rem;
    }
    .header{
        width: 100%;
    }
    
    nav{
        padding: 1rem 0rem;
        z-index: 1000000;
        width: 100%;
        background-color: black;
        position:absolute;
        top: 0;
        margin-top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .w{
        text-decoration: none;
        color: #E5F4F4;
        padding: 1rem;
        padding-bottom: 0.4rem;
        border-bottom:black 3px solid;
        transition: 0.5s ease;
    }
    .n{
        margin-top: 4rem;
    }
    .m{
        display: flex;
    }
    .span{
        position: absolute;
        top: 79%;
        font-size:xx-small;
        left: 50%;
        transform: translateX(-50%);
        transform: translateY(-21%);
        color: #121212;
        padding: 0.1rem;
        background-color: #F9F871;
        border-radius: 5px;
    }
    .d{
        font-size: smaller;
    }
    #d1{
        margin-top: 20rem;
    }
  }

.h1{
    font-size:50px;
}
.group{
    margin-top: 10rem;
}
#d1{
    margin-top: 10rem;
}


.part{
    background-color: black;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}



@media (max-width:500px) {
   .part{
    padding-bottom: 7rem;
   }
  }
