.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    margin-right: 5%;
    margin-left: 5%;
        
}
.box{
    background-color: #1d1c1c;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 5px;
}

@media (max-width:700px){
    .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    margin-right: 5%;
    margin-left: 5%;    
}
}

@media (min-width:700px){
    .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 6fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    margin-right: 5%;
    margin-left: 5%;
    }
}
@media (min-width:1300px){
    .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    margin-right: 5%;
    margin-left: 5%;
    }
}
@media (min-width:1600px){
    .box{
        padding: 2rem;
        font-size: x-large;
    }
    
}
