.ul1{
    display: inline-block;
    margin: 1.5rem;
  }
  .footer_ul{
    list-style: none;
  }
  
  .footer_ul a{
    text-decoration: none;
    color: var(--a);
  }
  .ul1_p{
    color: var(--color);
  }
  .footer_ul a:hover{
    text-decoration: none;
    color:#7e7e7e;
  }
  .footer{
    margin-top: 1.5rem;
    border-top: solid black 1px;
  }