
.a{
    color: var(--color);
    transition: all 0.2s ease 0s;
    text-decoration: none;
}

#toggle{
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: none;
    color: var(--background-color);
    background-color: var(--color);
    transition: all 0.2s ease 0s;

}
#toggle:hover{
    box-shadow: 0px  0px 8px var(--shadow);
    outline-width: 5px;
    outline-color: invert;
    

}

.dropbtn {
    margin-right: 6rem;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
        
    color: var(--color);
    padding: 1rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 0.4rem;
  }
  .dropbtn:hover{
    background-color: rgba(226, 226, 226,0.2);
    
  }
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content {
    padding-top: 0.4rem;
    display: none;
    position: absolute;
    background-color: var(--b2);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.4rem;
  }
  
  .dropdown-content a {
    color: var(--color);
    padding: 0.6rem;
    text-decoration: none;
    display: block;
    border-radius: 0.1rem;
    transition: 0.5s;
  }
 .dropdown-content a:hover{
  background-color: var(--b);
  border-radius: 0.3rem;
 }
  .header_li:hover{
    background-color: rgba(226, 226, 226,0.2);
    color: var(--color);
    
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .header{
    
    z-index: 50;
    top: 0;
    position:fixed ;
    font-family: "montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 0.5%;
    width: 100%;

  }

  .header_ul,.dropdown,#toggle{
    display: inline-block;
    list-style: none;

  }

  #toggle{
    float: right;
    padding: 1%;
  }
  .header_li{
    display: inline-block;
    transition: 0.5s;
    padding: 0.4rem 1rem;
    border-radius: 0.2rem;
  }

  @media only screen and (max-width: 1000px) {
    .header{
      display: none;
    }
 
    }

 