


.art_img{
    display: block;
    margin: 0 auto;
    object-fit: contain;


}
.art_img1{
  margin-top: 5rem;
}
.art_imgs{
    border: solid black 2px;
    border-radius: 1rem;
    margin-top: 1rem;

}
.art_title{
    text-align: center;
    text-decoration: none;
    text-transform:capitalize;
}
.art_desc,.owner{
    text-align: center;
}
