
/*fixed button bottom right*/
  /* #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
  
    border: none;
    outline: none;
    background-color: rgb(94, 91, 91);
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;

  }
  
  #myBtn:hover {
    background-color: #555;
  } */
/*article1*/
.top_button{
  display: block;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--d);
  border: none;
  border-radius: 0.3rem;
  color: var(--color);
  margin-top: 2%;
}
.top_a{
  text-decoration: none;
}
.top{
  margin-top: 11rem;
  margin-bottom: 8%;
}
.title, .desc_title{
  text-align: center;
}
.desc_title{
  margin-left: 1rem;
  margin-right: 1rem;
}
.top_image{
  margin-top: 8rem;
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-right: 10%;


}
@media only screen and (max-width: 1000px) {

  .top_image{
    margin-left: 30%;
  
  }
  .top{
    display: inline-block;
  }
}
@media only screen and (min-width: 1000px) {

  .top_image{
    width: 20rem;
  }

}

/*upcoming*/
.section{
  background-color: rgba(255, 255, 255, 0.25);
  height: 25rem;
  padding: 8rem;
  text-align: center;
  color: var(--color);
  transition: all 0.2s ease 0s;
  position: relative;

}
.section_btn{
  display: block;
  padding: 0.5rem;
  margin: 0 auto;
  border: none;
  border-radius: 0.2rem;
  margin-top: 1.3rem;
  background-color: var(--d);
}
.section_btn p{
  color: var(--color);
  transition: all 0.2s ease 0s;
}
.section_link{
  text-decoration: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {font-family: Arial, Helvetica, sans-serif;
outline: none;}
* {
  box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0;
grid-row-gap: 0;
}
@media only screen and (max-width: 1500px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
grid-template-rows: 2fr;
grid-column-gap: 0;
grid-row-gap: 0;
}
.input{
  width:max-content;
}
.input input:valid ~span,
.input input:focus ~span,
#Message:focus~span
{
  color: #fff;
  width:fit-content;
  transform: translateX(10px) translateY(-12px);
  font-size: 0.85em;
  padding: 0 10px;
  background-color: #00dfc4 ;
  border-radius: 5px;
}


}

/*form*/
#form_first,.form3, .form2{
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.5);
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding: 5rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  transition: 0.5s;
  margin-top: 6rem;
}

.input{
  position: relative;
  width: 80%;

}
.input input,#ff2, #desc,#Message{
  filter: opacity(0.25);
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}
.input span{
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: 0.5s;

}
.input input:valid ~span,
.input input:focus ~span,
#Message:focus~span
{
  color: #fff;
  transform: translateX(10px) translateY(-12px);
  font-size: 0.85em;
  padding: 0 10px;
  background-color: #00dfc4 ;
  border-radius: 5px;
}

.input input:valid,
.input input:focus,
#Message:focus
{
  border: #00dfc4 solid 1px;
} 

#info{
  padding: 0.5rem 1rem;
  font-size: 1em;
  color: #fff;
  background-color: #00dfc4;
  border: none;
  transition: .5s ;
  letter-spacing: 0.1em;
}
#info:hover{
  letter-spacing: 0.2rem ;
  border-radius: 0.5rem;
}
.ff_new{
  color: yellow;
}
.form_title{
  margin: 3rem;
  text-align: center;

}