@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');
*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}
:root{
  --color:black;
  --background-color:white;
}
.darkmode{
  --color:white;
  --background-color:black;
}
body{
  background-color:var(--background-color);
  color:var(--color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title, .desc_title{
    text-align: center;
    font-family: sans-serif;

}
.desc_title{
    margin-bottom: 5%;
}
.article{
    width: 100%;
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

@media only screen and (max-width: 600px) {
  .article{
    width: 100%;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 2fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
}
.section{
    font-size: 100%;
    display: inline-block;
    width: 90%;
    vertical-align: text-top;
    box-sizing:border-box;
    border:  2px solid;
  border-color:var(--color);
    border-radius: 15px;
    text-align: center;
    margin:3%;
    padding: 2%;
  
}
.jobs{
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    width: 100%;
    border-top: var(--color) 2px solid;
    border-bottom: var(--color) 2px solid;
}
.jobs_ul{
    list-style: none;
}

.staff{
    width:50%;
    float: left;
}
.todo{
    width: 100%;
    margin-top: 5%;
    float: right;
}
.img{
  display:block;
  margin:0 auto;
}
a{
  text-decoration:none;
  color:blue;
  transition: all 0.3s ease 0s;
}
a:hover{
  color:grey;
}

#toggle{
  transition: all 0.3s ease 0s;
  color: var(--background-color);
  background-color: var(--color);
  border-radius: 15px;
  border: none;
  padding: 1rem;
}
#toggle:hover{
  color: cadetblue;
}
