.ul1{
    display: inline-block;
  margin: 1.5rem;
  }
  .footer_ul{
    list-style: none;
  }
  
  .footer_ul a{
    text-decoration: none;
    color: var(--a);
    font-size: small;
    font-weight: 100;

  }
  .ul1_p{
    color: var(--color);
    font-weight: bolder;
  }

  .footer_ul a:hover{
    text-decoration: none;
    color: var(--color);
  }
  .footer{
    background-color: var(--footer-color);
  }
