:root{
    --background-color:white;
    --color:black;
    --shadow:grey;
    --transparent:rgba(0, 0, 0, 0.2);
    --a:#404040;
    --d:rgb(30, 166, 176);
    --da:rgb(84, 221, 171);
    --da-2:rgb(80, 94, 176);
    --r:rgb(226, 226, 226);
    --b: rgb(90, 90, 90);
    --b2: #ccc;
    --w:rgba(0, 0, 0, 0.5);
    --s:rgb(120, 120, 120);

}
.darkmode{
    --background-color:black;
    --color:white;
    --shadow: grey;
    --transparent:rgba(0, 0, 0, 0.2);
    --a:#acacac;
    --d:rgb(6, 84, 90);
    --da:rgb(39, 112, 91);
    --da-2:rgb(20, 42, 168);
    --r:rgb(6, 6, 6);
    --b: #ccc;
    --w:rgba(22, 22, 22, 0.1);
    --b2: rgb(90, 90, 90);
    --s:rgb(120, 120, 120);

}
/*don't earse anything*/
.red{
    --background-color:rgb(255, 0, 0);
    --color:rgb(255, 255, 255);
    --shadow: rgb(246, 83, 83);
    --transparent:rgba(201, 18, 18, 0.2) ;
    --a:#292929;
    --d:rgb(90, 13, 6) ;
    --da:rgb(47, 2, 2) ;
    --da-2:rgb(122, 66, 66);
    --r:rgb(253, 67, 11);
    --b: rgb(255, 42, 42);
    --w:rgba(255, 0, 0, 0.1);
    --b2: rgb(100, 33, 33);
    --s:rgb(52, 0, 0);

}
.blue{
    --background-color:rgb(0, 51, 255);
    --color:rgb(255, 255, 255);
    --shadow: rgb(50, 156, 237);
    --transparent:rgba(40, 169, 254, 0.2) ;
    --a:#292929;
    --d:rgb(8, 8, 246) ;
    --da:rgb(2, 30, 96) ;
    --da-2:rgb(47, 71, 177);
    --r:rgb(84, 29, 235);
    --b: rgb(28, 253, 253);
    --w:rgba(0, 38, 255, 0.1);
    --b2: rgb(30, 117, 122);
    --s:rgb(0, 14, 52);

}
.green{
    --background-color:rgb(51, 255, 0);
    --color:rgb(255, 255, 255);
    --shadow: rgb(49, 132, 17);
    --transparent:rgba(6, 172, 50, 0.2) ;
    --a:#292929;
    --d:rgb(48, 200, 31) ;
    --da:rgb(7, 96, 2) ;
    --da-2:rgb(73, 177, 47);
    --r:rgb(77, 235, 29);
    --b: rgb(69, 253, 28);
    --w:rgba(30, 255, 0, 0.1);
    --b2: rgb(48, 122, 30);
    --s:rgb(3, 52, 0);
}
.yellow{
    --background-color:rgb(255, 230, 0);
    --color:rgb(255, 255, 255);
    --shadow: rgb(132, 130, 17);
    --transparent:rgba(172, 161, 6, 0.2) ;
    --a:#292929;
    --d:rgb(186, 200, 31) ;
    --da:rgb(190, 200, 2) ;
    --da-2:rgb(180, 177, 47);
    --r:rgb(235, 232, 29);
    --b: rgb(253, 234, 28);
    --w:rgba(251, 255, 0, 0.1);
    --b2: rgb(180, 122, 30);
    --s:rgb(180, 156, 0);
}
.purple{
    --background-color:rgb(183, 0, 255);
    --color:rgb(255, 255, 255);
    --shadow: rgb(183, 0, 177);
    --transparent:rgba(169, 6, 172, 0.2) ;
    --a:#292929;
    --d:rgb(169, 31, 200) ;
    --da:rgb(183, 2, 200) ;
    --da-2:rgb(125, 47, 180);
    --r:rgb(142, 29, 235);
    --b: rgb(126, 28, 253);
    --w:rgba(242, 0, 255, 0.1);
    --b2: rgb(123, 30, 180);
    --s:rgb(99, 0, 180);
}
.pink{
    --background-color:rgb(255, 0, 128);
    --color:rgb(255, 255, 255);
    --shadow: rgb(183, 0, 101);
    --transparent:rgba(172, 6, 114, 0.2) ;
    --a:#292929;
    --d:rgb(200, 31, 146) ;
    --da:rgb(183, 2, 200) ;
    --da-2:rgb(180, 47, 142);
    --r:rgb(235, 29, 197);
    --b: rgb(253, 28, 193);
    --w:rgba(255, 0, 174, 0.1);
    --b2: rgb(180, 30, 155);
    --s:rgb(180, 0, 93);
}
::-moz-selection { /* Code for Firefox */
    color:var(--color);
    background: var(--s);
  }
  
  ::selection {
    color:var(--color);
    background: var(--s);
}
