.article{
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: var(--b2);
    border-radius: 1rem;
    padding: 3rem;
}
.article h2, .article h4{
    text-align: center;
    margin: 1rem;
}
#togglebutton{
    display: block;
    margin: 0 auto;
    padding: 0.4rem 0.8rem;
    color: var(--background-color);
    background-color: var(--color);
    border: none;
    border-radius: 5px;
    
}

.red{
    background-color: red;

}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;

}
.pink{
    background-color: pink;
}
.color button{
    padding: 3rem;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    color: var(--color);
    transition: 0.5s;
    border: var(--color) solid 1px;


}
.color button:hover{
    border: var(--b2) solid 1px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}
